@media screen and (min-width: 1500px) {
  body {
    font-size: 18px;
  }
  .map-africa {
    top: 46%;
    left: 44%;
  }
}

@media screen and (max-width: 1060px) {
  .container-back {
    height: 1050px;
  }
  .africa,
  .content-africa {
    top: 27%;
    left: 12%;
  }
  .content-africa {
    top: 27%;
    left: 12%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
  .half-width {
    width: 320px;
    left: 55%;
    top: 15%;
  }
  .online-booking {
    font-size: 1.5rem;
  }
  .content-africa .our-special {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .menu-img {
    display: none;
  }
  .menu-open {
    display: block !important;
  }
}
@media (max-width: 810px) {
  html {
    font-size: 11px;
  }
  .container-back {
    height: 1080px;
  }
  .banner-aero {
    display: none;
  }
  .half-width {
    position: absolute;
    z-index: 3;
    left: 30%;
    top: 10%;
    width: 40%;
  }
  .map-container {
    height: 360px;
  }
  .img-collection-container {
    flex-wrap: wrap;
  }
  .img-collection {
    margin: auto;
  }
  .right-menu {
    display: flex;
    flex-direction: row;
  }
  .africa,
  .content-africa {
    top: 15%;
    left: 12%;
    width: 57%;
    height: 66%;
  }

  .content-africa .special-inner {
    width: 70%;
    height: 100%;
  }
}
@media (max-width: 720px) {
  .img-collection-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 650px) {
  .container-back {
    height: 1390px;
  }
  .half-width {
    width: 50%;
  }
  .special-inner {
    flex-wrap: wrap;
  }
  .container-back__inner {
    height: 700px;
  }

  .cloudWhite__inner {
    top: 5%;
  }
  .img-collection {
    flex-wrap: wrap;
  }
  .content-africa .our-special {
    flex-direction: row;
  }
  .africa,
  .content-africa {
    height: 58%;
  }
  .content-africa-header {
    justify-content: right;
  }
}
@media (max-width: 580px) {
  .img-collection {
    flex-wrap: wrap;
  }
  .special-inner {
    flex-wrap: wrap;
  }
}

@media (max-width: 510px) {
  .container-back {
    height: 1300px;
  }
  .half-width {
    width: 80%;
    left: 10%;
  }
  .logo-img {
    top: 50%;
  }
  .banner-aero {
    left: 15%;
    width: 65%;
    top: 1%;
  }

  .logo-img {
    display: none;
  }
  .logo-img-media {
    display: block;
  }
  .container-back {
    background: none;
  }
  .right-menu {
    display: flex;
    flex-direction: column;
  }
  .africa,
  .content-africa {
    height: 50%;
  }
}
@media (max-width: 460px) {
  .slider .item {
    width: 100%;
  }
  .africa,
  .content-africa {
    width: 80%;
    height: 70%;
  }
  .content-africa {
    height: 55%;
  }
}
