.header-top {
  width: 100%;
}
.container-back {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: url("../Images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-back__inner {
  height: 490px;
  position: relative;
  width: 100%;
  background-image: url("../Images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logoImg {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 80%;
  left: 10%;
}
.logoImgMedia {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 30%;
  right: 0;
}
.backImg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.menu_nav {
  display: flex;
  justify-content: space-between;
}
.menu_nav a:hover {
  color: #0f6686;
}
.menu_nav li {
  display: inline-block;
}
.menuImg {
  width: 54%;
  position: absolute;
  left: 35%;
  top: 2%;
  z-index: 5;
}
.menu_nav li a {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}
.menuToggle {
  display: none;
}
/* Cloud=============================================== */
.cloudImg {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 0;
  right: 0;
}

.cloudWhite {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 1;
  background-image: url("../Images/cloud-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 20px;
  height: 60%;
}
.cloudWhite__inner {
  top: 10%;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-image: url("../Images/cloud-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 20px;
  height: 60%;
}

.cloudBlue {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  z-index: 3;
  background-image: url("../Images/cloud-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 20px;
}

.cloudBlue img {
  max-width: 100%;
}
.bannerAero {
  position: absolute;
  top: 20%;
  left: 13%;
  width: 43%;
  z-index: 4;
}
.half-width {
  position: absolute;
  z-index: 3;
  left: 64%;
  top: 15%;
  width: 340px;
  border: 4px solid #7ebee0;
  border-radius: 10px;
  background-color: #299fca;
  padding: 10px;
  height: 500px;
}
.OnlineBookingLabel {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 30px 2px 35px;
  margin-left: -25px;
  white-space: nowrap;
  display: block;
}
.OnlineBookingBack {
  background-color: #ded90e;
  height: 40px;
  width: 80%;
  left: -20px;
  border-radius: 5px 0 0 5px;
  position: relative;
}
.OnlineBookingBack::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border: 20px solid #299fca;
  border-left-width: 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.ladderImg {
  position: absolute;
  z-index: 2;
  left: 15%;
  top: 60%;
  width: 20%;
}

.formAero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 4;
}
input,
textarea,
select,
.bottomSub {
  color: #127ea5;
  vertical-align: middle;
  border: 2px solid #7ebee0;
  border-radius: 5px;
  resize: none;
  cursor: pointer;
  padding: 4px;
  margin: 7px;
}
.bottomSub {
  background-color: #f9ed06;
  width: 70px;
  color: #299fca;
  width: 80px;
}
input:hover,
textarea:hover,
select:hover {
  background-color: #b7eafc;
}
.bottomSub:hover {
  background-color: darkslategrey;
}
.option {
  color: #299fca;
}
.OurSpecial {
  min-width: 380px;
  padding: 0 10px;
}
.SpecialInner {
  display: flex;
  padding-top: 20px;
  width: 80%;
  justify-content: space-around;
  font-size: 1.15rem;
}
.OurSpecialInner {
  margin-right: 10px;
}
.OurSpecial h3,
.price {
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 1.75rem;
}
.OurSpecialImg {
  width: 70px;
  float: left;
  margin-right: 5px;
}
.OurSpecialBorder {
  border-bottom: 1px dashed white;
  margin-bottom: 25px;
}

.toursIcon img {
  width: 20px;
  padding-right: 10px;
}
.summerIcon {
  width: 25%;
}
.toursHead {
  display: flex;
  border-bottom: 1px solid #81ffff;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.toursHead__button button {
  font-size: 1.3rem;
  padding: 5px 10px 0;
  width: 130px;
  margin-bottom: 0;
  border: 0;
  border-radius: 10px 10px 0 0;
}
.bottomPhotos {
  background-color: #299fca;
  color: #81ffff;
}
.bottomTours {
  background-color: #81ffff;
  color: #299fca;
  margin-left: 0;
}

.bottomTours:hover {
  background-color: #81ffffb7;
  color: #299fca;
}
.toursIcon td {
  padding-right: 20px;
}
.mapContainer {
  background-position: center;
  width: 100%;
  height: 658px;
  background-size: contain;
  background-image: url(../Images/map-doted1.png);
  background-repeat: no-repeat;
  position: relative;
}
.mapAfrica {
  position: absolute;
  width: 14.5%;
  top: 47.5%;
  left: 43.3%;
  max-width: 220px;
  background-size: contain;
}

.mapContainer h3,
.mapContainer h2 {
  margin-top: 10px;
  text-align: center;
  color: #299fca;
  font-weight: bold;
  font-size: 1.25rem;
}
.containerFoot {
  z-index: 30;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;
}
footer {
  width: 100%;
  background-color: #127fa6;
}
.iconFoot {
  background-color: #3bb3de;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: #9bd8ee;
  font-size: large;
}
.iconFoot:hover {
  background-color: #0f6686;
}
.iconFoots {
  display: flex;
}
.containerFoot input,
.containerFoot textarea,
.containerFoot select {
  background-color: #0f6686;
  color: white;
  margin-left: 0;
  border: none;
}
.containerFoot input {
  height: 35px;
}
.contactForm {
  display: flex;
  flex-direction: column;
}
.CopyrightFoot {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.containerFoot input:hover,
.containerFoot textarea:hover,
.containerFoot select:hover {
  transition: all 0.2s linear;
  border-color: unset;
  background-color: #b7eafc;
}
.buttomFoot {
  padding: 5px;
  background-color: #d6e6ef;
  color: #1584ad;
  border-color: initial;
  border-radius: 10px;
  width: 110px;
  font-size: 1.25rem;
  margin-top: 10px;
}
.buttomFoot:hover {
  background-color: #accde0;
}
/* inner========================================================== */
.imgCollection__img {
  width: 100%;
  max-width: 250px;
}
.imgCollection {
  display: flex;
  width: 80%;
  color: #959595;
}
.imgCollection__block {
  margin: 20px;
}
.imgCollectionContainer {
  display: flex;
  font-size: 1.15rem;
}

.imgCollectionContainer h3 {
  font-family: "Dancing Script", cursive;
}
.rightMenu {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.destinations {
  margin: 10px;
  background-color: #127ea5;
  padding: 15px 80px 50px 20px;
  border-radius: 20px;
}
.destinations h4 {
  color: #4cb1bd;
  background-color: #eadf1b;
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  margin: 10px 0 10px -30px;
}
li {
  list-style-type: none;
}
.imgCollection__bottom {
  font-size: 1.3rem;
  padding: 5px;
  width: 130px;
  margin: 10px 0;
  border: 0;
  border-radius: 10px;
  background-color: #299fca;
  color: white;
}

.imgCollection__bottom:hover {
  background-color: #299fca8e;
  color: #81ffff;
}

/* Africa================================================= */
.africa,
.contentAfrica {
  z-index: 40;
  position: absolute;
  top: 37%;
  left: 25%;
}
.contentAfrica {
  color: #b2aaaa;
  padding: 10px;
  width: 250px;
}

.contentAfrica .OurSpecial {
  flex-direction: column;
  overflow-y: scroll;
  font-size: 0.75rem;
  height: 220px;
}
.contentAfrica .SpecialInner {
  width: 100%;
}
.contentAfrica .OurSpecial {
  min-width: 100px;
}
.contentAfrica__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 10px;
}

.africa__color {
  filter: sepia(50%);
}
.photo__slider__content {
  margin: auto;
}
.photo__slider__content img {
  width: 30%;
}
.photo__slider {
  display: none;
}
/* slaider================================================== */
.slider {
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 300px;
  margin-bottom: 15px;
}
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border: none;
  box-shadow: none;
}
.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slider .prev:hover,
.slider .next:hover {
  background-color: #299fca;
}
.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
.slider-dots {
  text-align: center;
}
.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #aaa;
}
.slider .item {
  width: 400px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.item {
  border: solid 5px floralwhite;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* JS======================================================= */
.modal {
  display: none;
}
.modalBlock {
  display: none;
}
.modal--show {
  display: block;
}
.backButtonOpen {
  background-color: #81ffff;
  color: #299fca;
}
.backButtonClouse {
  background-color: #299fca;
  color: #81ffff;
}
