* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-weight: bold;
}

body {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  background-color: #d6e6ef;
  color: white;
}
img {
  width: 100%;
}

.header-top {
  width: 100%;
}
.container-back {
  width: 100%;
  height: 1000px;
  background-image: url("../Images/bg.png");
  background-repeat: no-repeat;
}
.logoImg {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 80%;
  left: 10%;
}
.logoImgMedia {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 20%;
  right: 15%;
}
.backImg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.menu_nav {
  display: flex;
  justify-content: space-between;
}
.menu_nav li {
  display: inline-block;
}
.menuImg {
  width: 54%;
  position: absolute;
  left: 35%;
  top: 3%;
  z-index: 5;
}
.menu_nav li a {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}
.menuToggle {
  display: none;
}
/* Cloud=============================================== */
.cloudImg {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 0;
  right: 0;
}

.cloudWhite {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 1;
}

.cloudBlue {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 3;
  background-image: url("../Images/cloud-1.png");
  background-repeat: no-repeat;
}

.cloudBlue img {
  max-width: 100%;
}
.bannerAero {
  position: absolute;
  top: 20%;
  left: 13%;
  width: 43%;
  z-index: 4;
}
.half-width {
  position: absolute;
  z-index: 3;
  left: 64%;
  top: 15%;
  width: 300px;
  border: 4px solid #7ebee0;
  border-radius: 10px;
  background-color: #299fca;
  padding: 10px;
  height: 450px;
}
.OnlineBooking {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 2px 40px 2px 15px;
  margin-left: -25px;
  background-color: #ded90e;
  border-radius: 5px 0 0 5px;
}
.ladderImg {
  position: absolute;
  z-index: 2;
  left: 15%;
  top: 60%;
  width: 20%;
}

.formAero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 4;
}
input,
textarea,
select {
  vertical-align: middle;
  border: 2px solid #7ebee0;
  border-radius: 5px;
  resize: none;
  cursor: pointer;
  padding: 4px;

  margin: 7px;
}
.bottomSub {
  background-color: #f9ed06;
  width: 70px;
  color: #299fca;
}
.option {
  color: #299fca;
}
.OurSpecial {
  /* position: absolute;
  top: 78%;
  left: 10%;
  width: 25%;
  z-index: 8; */
}
.OurSpecial h3,
.price {
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 1.75rem;
}
.OurSpecialImg {
  width: 70px;
  float: left;
  margin-right: 5px;
}
.OurSpecialBorder {
  border-bottom: 1px dashed white;
  margin-bottom: 25px;
}

.OurSpecial input {
  width: 80px;
}
.tours {
  /* position: absolute;
  top: 78%;
  right: 10%;
  z-index: 8; */
}
.toursIcon img {
  width: 20px;
  padding-right: 10px;
}
.summerIcon {
  width: 25%;
}
.toursHead {
  display: flex;
  border-bottom: 1px solid #81ffff;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.toursHead__button input {
  width: 100px;
  margin-bottom: 0;
  border: 0;
  border-radius: 10px 10px 0 0;
}
.photos__button {
  background-color: #299fca;
  color: #81ffff;
}
.tours__button {
  background-color: #81ffff;
  color: #299fca;
  margin-left: 0;
}
.toursIcon td {
  padding-right: 20px;
}
.mapContainer {
  width: 100%;
  height: 700px;
  background-size: 100%;
  background-image: url("../Images/map-doted.png");
  background-repeat: no-repeat;
}
.mapContainer h3,
.mapContainer h2 {
  margin-top: 10px;
  text-align: center;
  color: #299fca;
  font-weight: bold;
  font-size: 1.25rem;
}
.containerFoot {
  z-index: 30;
}
